/* add CSS class and element and selectors here */
body {
      background-color: red;
      font-size: 150%;
    }
    .myClass {
      background-color: gray;
      color: blue
    }
    .anExampleClass {
      font-size: 300%;
      background-color: pink;
      font-family: courier;
      letter-spacing: 5px;
      transition: rotate(-30)deg;
    }
    .font-sizeclass {
      font-size: 300%;
      }